﻿@inherits UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    // The menu items we want are all of the children of the homepage
    // We also check if "Hide in navigation" is on in the menu, we shouldn't show hidden items
    var menuItems = homePage.Children.Where("UmbracoNaviHide == false");
}

<div id="topMain">
    <div class="menu-content">
        <div class="container">

            <!-- menu close -->
            <button id="menu_overlay_close">
                <i class="glyphicon glyphicon-remove"></i>
            </button><!-- /menu close -->

            <div class="row">
                <div class="col-md-8 col-xs-12 col-md-offset-2">

                    <div class="menu-list col-md-6 col-sm-6">
                        <ul class="list-unstyled font-raleway">
                            <li class="@(CurrentPage.Url == "/" ? "current_page_item" : null)"><a href="/">Home</a></li>

                            @foreach (var item in menuItems)
                            {
                                <li class="@(CurrentPage.Id == item.Id ? "current_page_item" : null)"><a href="@item.Url">@item.Name</a></li>
                            }

                        </ul>

                    </div>

                    <div class="text-right col-md-6 col-sm-6 hidden-xs">
                        <div class="letter-spacing-3 size-16 weight-300">
                            <p>nick.ward@outlook.com</p>
                            <p>
                                <!-- SOCAL ICONS -->
                                <a href="#" class="social-icon social-icon-sm social-icon-transparent social-facebook" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-icon-transparent social-twitter" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-icon-transparent social-gplus" data-toggle="tooltip" data-placement="bottom" title="Google Plus">
                                    <i class="icon-gplus"></i>
                                    <i class="icon-gplus"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-icon-transparent social-linkedin" data-toggle="tooltip" data-placement="bottom" title="Linkedin">
                                    <i class="icon-linkedin"></i>
                                    <i class="icon-linkedin"></i>
                                </a>
                                <a href="#" class="social-icon social-icon-sm social-icon-transparent social-flickr" data-toggle="tooltip" data-placement="bottom" title="Flickr">
                                    <i class="icon-flickr"></i>
                                    <i class="icon-flickr"></i>
                                </a>
                            </p><!-- /SOCAL ICONS -->
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- /OVERLAY NAVIGATION -->