﻿@inherits UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("~/Views/Partials/Header/_MetaData.cshtml")
    @Html.Partial("~/Views/Partials/Header/_Assets.cshtml")
</head>
<body class="smoothscroll enable-animation">
    @Html.Partial("~/Views/Partials/Header/_MenuHeader.cshtml")
    @Html.Partial("~/Views/Partials/Menu/_TopMenu.cshtml")

    <div id="wrapper">
        <!-- CONTENT -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </section>
        <!-- END OF CONTENT -->

        @Html.Partial("~/Views/Partials/Bottom/_Footer.cshtml")

    </div>

    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>

    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div><!-- /PRELOADER -->

    @Html.Partial("~/Views/Partials/Bottom/_Assets.cshtml")
</body>
</html>
