﻿<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

<!-- CORE CSS -->
<link href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<!-- SWIPER SLIDER -->
<link href="~/assets/plugins/sliderswiper/dist/css/swiper.min.css" rel="stylesheet" type="text/css" />

<!-- THEME CSS -->
<link href="~/assets/css/essentials.css" rel="stylesheet" />
<link href="~/assets/css/layout.css" rel="stylesheet" />

<!-- PAGE LEVEL SCRIPTS -->
<link href="~/assets/css/header-0.css" rel="stylesheet" />
<link href="~/assets/css/colour-scheme/green.css" rel="stylesheet" />


