﻿@inherits UmbracoTemplatePage
@{
    // Model.Content is the current page that we're on
    // AncestorsOrSelf is all of the ancestors this page has in the tree
    // (1) means: go up to level 1 and stop looking for more ancestors when you get there
    // First() gets the first ancestor found (the home page, on level 1)
    var homePage = CurrentPage.AncestorsOrSelf(1).First();

    // Find all pages with document type alias umbNewsOverview
    // We do that using the plural, umbNewsOverviews (note the extra "s" in the end)
    // Then take the first one, as we know there will only be on news overview page
    var newsOverview = homePage.umbNewsOverviews.First();

    // Similar to above: find all pages with document type umbNewsItem under the news overview page
    // Then order them, first by publishDate (a property the editor can explicitly set on the news item)
    // and then by createDate, which is set by Umbraco automatically when a page gets created.
    // Finally, take the first 5 items to show in the news overview
    var newsItems = newsOverview.umbNewsItems.OrderBy("publishDate desc, createDate desc").Take(5);
}

<!-- REVOLUTION SLIDER -->
<section id="slider" class="slider fullwidthbanner-container roundedcorners">

    <div class="fullscreenbanner" data-navigationStyle="">
        <ul class="hide">

            @foreach (var newsItem in newsItems)
            {
                // If the editor has not explicitly provided the "Page title" property page
                // then just show the name of the page otherwise show the provided title
                var title = string.IsNullOrWhiteSpace(newsItem.Title)
                    ? newsItem.Name
                    : newsItem.Title;

                // If the editor has not explicitly set the publishDate property then show the create date
                var dateTime = newsItem.PublishDate == default(DateTime)
                    ? newsItem.CreateDate
                    : newsItem.PublishDate;

            <!-- SLIDE  -->
            <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide">

                <img src="assets/images/1x1.png" data-lazyload="@newsItem.Image" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

                <div class="tp-caption customin ltl tp-resizeme text_white"
                        data-x="center"
                        data-y="180"
                        data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                        data-speed="800"
                        data-start="1000"
                        data-easing="easeOutQuad"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.1"
                        data-endspeed="1000"
                        data-endeasing="Power4.easeIn" style="z-index: 10;">
                    <span class="weight-300">@title</span><br/><br/>
                    <span class="weight-300">@dateTime</span>
                </div>
            </li>
            }
        </ul>
        <div class="tp-bannertimer"></div>
    </div>
</section>
<!-- /REVOLUTION SLIDER -->